<!DOCTYPE html>
<html>
	<head>
		<title>Si-RepA Login</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<div>	
			<h1>Login</h1>
			<form id="login" action="../controller/login.php" method="post">
				Login:<br>
				<input type="text" name="clogin"><br>
				Senha:<br>
				<input type="password" name="csenha">
				<br>
				<br>
				<input type="radio" name="ctipouser" value="u" checked>Usuário<br>
				<input type="radio" name="ctipouser" value="a">Administrador<br>
				<br>
				<input type="submit" value="Entrar">
					
			</form>
			<a class= "botao" href="./emconstrucao.html">Cadastrar</a>
		</div>
	</body>
</html>