<!DOCTYPE html>
<html>
	<head>
		<title>Si-RepA Cadastrar Passagem</title>
		<meta charset="UTF-8">
		<script>
			
		</script>
	</head>
	<body>
		<div>
			<h1>Cadastro de Passagem</h1>
			<form action="../controller/cadastrarPassagem.php" method="post">
				Número da Passagem:<br>
				<input type="text" name="cidpassagem"><br>
				ID do Usuário:<br>
				<input type="text" name="ciduser"><br>
				ID do Voo:<br>
				<input type="text" name="cidvoo"><br>
				Número do Assento:<br>
				<input type="number" name="cqtdassentos"><br>
				<br>
				<input type="submit" value="Cadastrar">
				<input type="reset" value="Limpar">
			</form>
		</div>
		
	</body>
</html>