<!DOCTYPE html>
<html>
	<head>
		<title>Si-RepA Cadastrar Aviao</title>
		<meta charset="UTF-8">
		<script>
			
		</script>
	</head>
	<body>
		<div>
			<h1>Cadastro de Aviao</h1>
			<form action="../controller/cadastrarAviao.php" method="post">
				Prefixo do Avião:<br>
				<input type="text" name="cprefixo"><br>
				Modelo:<br>
				<input type="text" name="cmodelo"><br>
				Fabricante:<br>
				<input type="text" name="cfabricante"><br>
				Quantidade de Assentos:<br>
				<input type="number" name="cqtdassentos"><br>
				<br>
				<input type="submit" value="Cadastrar">
				<input type="reset" value="Limpar">
			</form>
		</div>
		
	</body>
</html>