<!DOCTYPE html>
<html>
	<head>
		<title>Si-RepA Login</title>
		<meta charset="UTF-8">
	</head>
	<body>

		<h1>Login</h1>
		<form id="login" action="./cadastroAviao.html" method="get">
			Login:<br>
			<input type="text" name="clogin"><br>
			Senha:<br>
			<input type="text" name="csenha">
			<br>
			<br>
			<input type="submit" value="Entrar">
		</form>
		<a class= "botao" href="#">Cadastrar</a>
		<br>
		<a class= "botao" href="./HomeADM.html">Home ADM</a>
		<br>		
		<a href="./CadastroAviao.html">Avião - Cadastrar</a>
		<br>
		<a href="../controller/listarAviao.php">Avião - Listar Todos</a>
		<br>
		<a href="./BuscarAviao.html">Avião - Buscar</a>
		<br>
		<a href="./CadastroPassagem.html">Passagem - Cadastrar</a>
		<br>
		<a href="../controller/listarPassagem.php">Passagem - Listar Todas</a>
		<br>
		<a href="./BuscarPassagem.html">Passagem - Buscar</a>
	</body>
</html>